<div class="form-group">
  <label for="date">Event Date</label>
  <input id="date" value="<%=event.get("event_date")%>" name="event[event_date]" type="date" class="form-control date" required>
</div>
