<script>
  filepicker.setKey("<%= FILEPICKER_API_KEY %>");
</script>

<ul class="event-details">
  <li class="title"> <h1> <%= event.escape('title') %> <button class="btn btn-sm btn-danger delete-event">Delete Event</button></h1>
  <li class="date"> Date: <%= event.escape('event_date') %></li>
  <li> <button class="upload btn btn-primary">Get the party started!</button> <span class="upload-success">Picture saved!</span></li>
  <li> <a href="#events/<%=event.id%>">Show page </a> </li>
</ul>

<br>
<h3>To edit details, double click detail. To save, click outside of form box.</h3>
