<div role="tabpanel" class="tab-pane active" id="new">
<div id="dialog-form" title="Create new user">

  <form class="event-form">
    <label> Event title</label>
    <input name="event[title]" required autofocus>
    <label> Date </label>
    <input type="date" name="event[event_date]">
    <input type="checkbox" name="event[purchase_num]" value="true">Purchase Phone Number<br>
    <button type="submit">Add new event!</button>
  </form>
</div>
