
<div class="post-grid">
<% event.posts().each(function(post){ %>
  <% if(post.get("picture_url")){ %>
    <div class="item">
      <img src="<%= post.escape("picture_url") %>">
    </div>
  <%}%>
<%})%>
</div>
