<h1> <%= event.escape("title") %> </h1>
<a href="#">Back to Index</a>
<% event.posts().each(function(post){ %>
  <% if(post.escape("picture_url")){ %>
    <li> <img src="<%=post.escape("picture_url")%>">
  <% } %>
  <% if(post.escape("body")){ %>
    <li> <%=post.escape("body")%>
  <% } %>
<% }) %>
