<h1 class="event-title"> <%= event.escape("title") %> </h1>

<div class="whole-show">
<% if(event.get("phone_number")){ %>
  <h2> Text Pictures to: <%= event.escape("phone_number") %></h2>
<%}%>

<div class="img-slideshow">

</div>
</div>
