<h1> Sign In to Corky!</h1>

<form id="session_form" action="<%= session_url %>" method="post">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

 <label>
   Email
   <input type="email" name="user[email]" required autofocus>
 </label>

 <label>Password
 <input type="password" name="user[password]">
 </label>

 <input type="submit" value="Sign In!">
</form>
