<% if(event.get("phone_number")){ %>
  <h2> Text Pictures to: <%= event.escape("phone_number") %></h2>
<%}%>

<% if(post.get("picture_url")){ %>

<img src="<%= post.escape("picture_url") %>">
<% } %>
