<!-- <div class="col-md-4 ind-post">
  <% if(post.escape("picture_url")){ %>
    <img src="<%=post.escape("picture_url")%>">
  <% } %>
  <% if(post.escape("body")){ %>
    <h2><%=post.escape("body")%></h2>
  <% } %>
</div> -->

<% if(post.escape("picture_url")){ %>
  <img src="<%=post.escape("picture_url")%>" />
<% } else { %>
  <img src="http://www.solidbackgrounds.com/images/1152x864/1152x864-cream-solid-color-background.jpg" />
<%  } %>
