
 //= require_tree .
 //= require_self

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .container-fluid{
   margin-right: 15%;
   margin-left: 15%;
 }

.collapse.navbar-collapse{
  float: right;
}

.navbar{
  margin: 0;
  background-color: white;
}

body {
    padding-top: 50px;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 28px;
}

#content{
  padding: 50px;
  width: 100%;
  height: auto;
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}


footer{
  z-index: -1;
  bottom: -200px;
  position: relative;
  padding: 20px;
  width: 100%;
  min-height: 200px;
  background-color: #F5F5F5;
  p{
    padding: 20px;
    color: #5bc0de
  }
}
