
 //= require_tree .
 //= require_self

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .container-fluid{
   margin-right: 15%;
   margin-left: 15%;
 }

.collapse.navbar-collapse{
  float: right;
}

.navbar{
  margin: 0;
  background-color: white;
}

body {
    padding-top: 50px;
}
