// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show-page{
  width:90%;
  margin: auto;
  position: relative;
}


.index {
  background: white;
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
  #index-heading{
    background-color: #00cbe9;
    display: inline-block;
    width: auto;
    margin-left: 50px;
    margin-top: 90px;
    // padding-bottom: 20px;
    margin-bottom: 5px;
    -ms-transform: rotate(-9deg); /* IE 9 */
    -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
    transform: rotate(-9deg);
  }
  #welcome-dashboard{
    width: 90%;
    background-color: #F5F5F5;
    // padding-left: 65px;
    margin-left: 70px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 20px;
  }


  .tabpanel{
    width: 90%;
    margin: auto;
    height: 100%;
  }

  .tab-content{
    padding: 10px;
    background-color: #00cbe9;
    height: 100%;
    border-radius: 0px 10px 10px 10px;
    padding-bottom: 200px;
    font-size: 18px;
    .event-details{
      list-style: none;
    }
  }

  li{
    a.color-tab{
      font-size: 20px;
      color: black;
      &:hover{
        background-color: #c3dae3;
      }
    }
  }

  li.active{

    a.color-tab{
      color: black;
      background-color: #00cbe9;
      &:focus{
        color: black;
        background-color: #00cbe9;
      }
      &:hover{
        color: black;
        background-color: #00cbe9;
      }
    }
  }


}
