// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-slideshow{
  background: black;
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  img{
    display: block;
    margin: auto;
    min-width: 40vw;
    min-height: 50vh;
    padding: 2.5%;
    max-width: 90vw;
    max-height: 90vh;
  }
}


#posts{
  margin: 50px;
  img{
    padding: 20px;
  }
}

.on-display{
  z-index: 2;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  img {
    top: 0px;
    border-radius: 10px;
    min-width: 50vw;
    min-height: 50vw;
    max-width: 90vw;
    max-height: 90vh;
  }
  h2{
    position: absolute;
    z-index: 3;
    bottom: 5px;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 3px;
  }
}

div:-webkit-full-screen {
  width: 100% !important;
}
div:-moz-full-screen {
  width: 100% !important;
}
div:-ms-fullscreen {
  width: 100% !important;
}
div:fullscreen {
  width: 100% !important;
}
